<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>pagination ajax django</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <style>
        div.name{
            display: inline-block;
            vertical-align: top;
        }
        div.date{
            display: inline-block;
            vertical-align: top;
        }
        .form{
            display: inline-block;
        }
        .pages{
            margin-top:20px;
            display: block;
            text-align: center;
            font-size: 20pt;
            /* margin-right:50px; */
        }
    </style>
</head>
<body>
    <h1>Pagination - Ajax - Django</h1><br>
    <div class="wrapper">
        <div class="header">

            <div class="name">
                <form action="/name_search" method='POST'>
                    {% csrf_token %}
                    name: <input id='name' type="text" name='name'/>
                </form>
            </div>

            <div class="date">

                <!-- <form class='form' action="#" method="POST">
                    {% csrf_token %}
                    from date: <input type="date" name='from_date'/>
                </form> -->

                <!-- <form class='form' action="#" method="POST">
                    {% csrf_token %}
                    to date: <input type="date" name='to_date'/>
                </form> -->

                <form action='/get_day' method="POST">
                    {% csrf_token %}
                    DAY:<input id='day' name='day_num' type="number" placeholder="only 2-3">
                </form>

                <form action='#' method="POST">
                    {% csrf_token %}
                    MONTH:<input id='month' name='month_num' type="number" placeholder="1-12" title='enter a month 1-12' oninput="validity.valid||(value='');" step="1">
                    <input type="submit" value='get month'/>
                </form>

                <form action='#' method="POST">
                    {% csrf_token %}
                    YEAR:<input id='year' name='year_num' type="number" placeholder="2018" title='enter a year ex. 2018' oninput="validity.valid||(value='');" step="1">
                    <input type="submit" value='get year'/>
                </form>
            </div>

            <script>
            $('#day').keyup(function(e){
                e.preventDefault()
                $.ajax({
                    url: $(this).parent().attr('action'),
                    method: 'POST',
                    data: $(this).parent().serialize(),
                    success: function(serverResponse){
                        $('#show_here').html(serverResponse)
                    }
                })
            })
            </script>



        </div> <!-- end HEADER -->



        <br>
        <div style="background-color: aliceblue;" class="demodate">
            <form action="/date_get">
            date: <input type="date" name='date' value='2018-05-17' min="2017-04-01" max="2018-11-30"/>
            <input type="submit" value='get date'/>
            </form>
        </div>
        <br>




        <!-- ==========  PAGE NUMBERS  ================ -->
        <div class="pages">
            <form action="$"></form>
            1 | 2 | 3 ...
        </div><br> <!-- END page nums -->


        <!-- ===========  TABLE ============= -->
        <div id='table_div' class="table">
            <table class="table">
                <thead>
                    <th>leads_id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Registered DateTime</th>
                    <th>email</th>
                </thead>

                    <tbody id="show_here">
                        {% for lead in leads %}
                        <tr>
                            <td>{{ lead.id }}</td>
                            <td>{{ lead.first_name }}</td>
                            <td>{{ lead.last_name }}</td>
                            <td>{{ lead.created_at }}</td>
                            <td>{{ lead.email }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
            
            </table>
        </div>
    </div>
    <script>
    $('#name').keyup(function(){
        console.log('key pressed =>', $(this).serialize());
        $.ajax({
            url: $(this).parent().attr('action'),
            method: 'POST',
            data: $(this).parent().serialize(),
            success: function(serverResponse){
                console.log('success came back');
                $('#show_here').html(serverResponse);
            }
        })
    })
    </script>
</body>
</html>